In [110]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob

## Data loading

In [111]:
files = glob.glob('..\\data\\raw_data\\*')

for file_path in files:
    print(file_path)

..\data\raw_data\Sales_April_2019.csv
..\data\raw_data\Sales_August_2019.csv
..\data\raw_data\Sales_December_2019.csv
..\data\raw_data\Sales_February_2019.csv
..\data\raw_data\Sales_January_2019.csv
..\data\raw_data\Sales_July_2019.csv
..\data\raw_data\Sales_June_2019.csv
..\data\raw_data\Sales_March_2019.csv
..\data\raw_data\Sales_May_2019.csv
..\data\raw_data\Sales_November_2019.csv
..\data\raw_data\Sales_October_2019.csv
..\data\raw_data\Sales_September_2019.csv

In [112]:
dataframes = {}

for file_path in files:
    name = file_path.split("\\")[-1][:-4]
    df_temp = pd.read_csv(file_path)
    dataframes[name] = df_temp

In [113]:
for df in dataframes.values():
    print(list(df.columns))

['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date', 'Purchase Address']
['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date', 'Purchase Address']
['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date', 'Purchase Address']
['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date', 'Purchase Address']
['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date', 'Purchase Address']
['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date', 'Purchase Address']
['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date', 'Purchase Address']
['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date', 'Purchase Address']
['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date', 'Purchase Address']
['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date', 'Purchase Address']
['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date', 'Purchase Address']
['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date', 'Purchase Address']

In [114]:
dataframes['Sales_April_2019'].head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [115]:
df = pd.concat(dataframes.values(), ignore_index=True)

In [116]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

## Data cleaning and processing

In [117]:
df.isna().sum()

Order ID            545
Product             545
Quantity Ordered    545
Price Each          545
Order Date          545
Purchase Address    545
dtype: int64

In [118]:
df.isna().any(axis=1).sum()

545

In [119]:
df = df.dropna()

In [120]:
df = df[df['Order Date'] != 'Order Date']

In [121]:
df['Order Date'] = pd.to_datetime(df['Order Date'], format='%m/%d/%y %H:%M')

In [122]:
df['Date'] = df['Order Date'].dt.date
df['Time'] = df['Order Date'].dt.time

In [123]:
df = df.drop('Order Date', axis=1)

In [124]:
df['Quantity Ordered'] = pd.to_numeric(df['Quantity Ordered'])
df['Price Each'] = pd.to_numeric(df['Price Each'])

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185950 entries, 0 to 186849
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  object
 1   Product           185950 non-null  object
 2   Quantity Ordered  185950 non-null  int64
 3   Price Each        185950 non-null  float64
 4   Purchase Address  185950 non-null  object
 5   Date              185950 non-null  object
 6   Time              185950 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 11.3+ MB

In [126]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Purchase Address,Date,Time
0,176558,USB-C Charging Cable,2,11.95,"917 1st St, Dallas, TX 75001",2019-04-19,08:46:00
2,176559,Bose SoundSport Headphones,1,99.99,"682 Chestnut St, Boston, MA 02215",2019-04-07,22:30:00
3,176560,Google Phone,1,600.00,"669 Spruce St, Los Angeles, CA 90001",2019-04-12,14:38:00
4,176560,Wired Headphones,1,11.99,"669 Spruce St, Los Angeles, CA 90001",2019-04-12,14:38:00
5,176561,Wired Headphones,1,11.99,"333 8th St, Los Angeles, CA 90001",2019-04-30,09:27:00

In [127]:
df['City'] = df['Purchase Address'].apply(lambda x: x.split(', ')[1])
df['State'] = df['Purchase Address'].apply(lambda x: x.split(', ')[2].split(' ')[0])
df['Zip Code'] = df['Purchase Address'].apply(lambda x: x.split(', ')[2].split(' ')[1])

In [128]:
df = df.drop('Purchase Address', axis=1)

In [129]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Date,Time,City,State,Zip Code
0,176558,USB-C Charging Cable,2,11.95,2019-04-19,08:46:00,Dallas,TX,75001
2,176559,Bose SoundSport Headphones,1,99.99,2019-04-07,22:30:00,Boston,MA,02215
3,176560,Google Phone,1,600.00,2019-04-12,14:38:00,Los Angeles,CA,90001
4,176560,Wired Headphones,1,11.99,2019-04-12,14:38:00,Los Angeles,CA,90001
5,176561,Wired Headphones,1,11.99,2019-04-30,09:27:00,Los Angeles,CA,90001

In [130]:
df.nunique()

Order ID            178437
Product                 19
Quantity Ordered         9
Price Each              17
Date                   366
Time                  1440
City                     9
State                    8
Zip Code                10
dtype: int64

In [131]:
sorted(df['Product'].unique())

['20in Monitor',
 '27in 4K Gaming Monitor',
 '27in FHD Monitor',
 '34in Ultrawide Monitor',
 'AA Batteries (4-pack)',
 'AAA Batteries (4-pack)',
 'Apple Airpods Headphones',
 'Bose SoundSport Headphones',
 'Flatscreen TV',
 'Google Phone',
 'LG Dryer',
 'LG Washing Machine',
 'Lightning Charging Cable',
 'Macbook Pro Laptop',
 'ThinkPad Laptop',
 'USB-C Charging Cable',
 'Vareebadd Phone',
 'Wired Headphones',
 'iPhone']

In [132]:
sorted(df['City'].unique())

['Atlanta',
 'Austin',
 'Boston',
 'Dallas',
 'Los Angeles',
 'New York City',
 'Portland',
 'San Francisco',
 'Seattle']

In [133]:
sorted(df['State'].unique())

['CA', 'GA', 'MA', 'ME', 'NY', 'OR', 'TX', 'WA']

In [134]:
sorted(df['Zip Code'].unique())

['02215',
 '04101',
 '10001',
 '30301',
 '73301',
 '75001',
 '90001',
 '94016',
 '97035',
 '98101']

In [135]:
df.duplicated().sum()

264

In [136]:
columns_to_group = list(df.drop('Quantity Ordered', axis=1).columns)

df_grouped = df.groupby(columns_to_group, as_index=False)['Quantity Ordered'].sum()

In [137]:
df_grouped[df_grouped['Price Each'] <= 0]

Empty DataFrame
Columns: [Order ID, Product, Price Each, Date, Time, City, State, Zip Code, Quantity Ordered]
Index: []

In [138]:
df_grouped[df_grouped['Quantity Ordered'] <= 0]

Empty DataFrame
Columns: [Order ID, Product, Price Each, Date, Time, City, State, Zip Code, Quantity Ordered]
Index: []

In [139]:
df_grouped['Total Price'] = df_grouped['Price Each'] * df_grouped['Quantity Ordered']

In [140]:
df_grouped.head()

,Order ID,Product,Price Each,Date,Time,City,State,Zip Code,Quantity Ordered,Total Price
0,141234,iPhone,700.00,2019-01-22,21:25:00,Boston,MA,02215,1,700.00
1,141235,Lightning Charging Cable,14.95,2019-01-28,14:15:00,Portland,OR,97035,1,14.95
2,141236,Wired Headphones,11.99,2019-01-17,13:33:00,San Francisco,CA,94016,2,23.98
3,141237,27in FHD Monitor,149.99,2019-01-05,20:33:00,Los Angeles,CA,90001,1,149.99
4,141238,Wired Headphones,11.99,2019-01-25,11:59:00,Austin,TX,73301,1,11.99

In [141]:
df_grouped.to_csv('..\\data\\Sales_2019_processed.csv', index=False)